<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qijy.multiple_data_sources.mapper2.CourseTableMapper" >
    <select id="queryCourseTable" resultType="com.qijy.multiple_data_sources.ro.CourseTableRO">
        select * from course_table
    </select>
</mapper>
